/*header styling start(Bernard)*/
.container{
    width: 80%;
    margin: 0 auto;
}
header{
    background: whitesmoke;
}
header::after{
    content: '';
    display: table;
    clear: both;
}
.logo{
    float: left;
    max-width: 5rem;
    height: auto;
}
nav{
    float: right;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 3rem;
    padding-top: 1.5rem;
    position: relative;
}
nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
nav a:hover{
    color: #000;
    text-decoration: none;
}
nav a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;

}
nav a:hover::before{
    width: 100%;
}

/*header styling end*/

/*footer styling start(Bernard)*/
.footer{
    padding: 3rem;
    background-color: whitesmoke;
}
.social{
    text-align: center;
    padding-bottom: 1rem;
    color: #1e1f20;
    font-size: 24px;
}
.social a{
    color: inherit;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    opacity: 0.7;
}
.footer-list{
    color: #1e1f20;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    text-align: center;
}
.footer-list li a{
    color: inherit;
    text-decoration: none;
}
.footer-list li{
    display: inline-block;
    padding: 1rem;
}

/*footer styling end*/

.parallax-1, .parallax-2, .parallax-3, .parallax-4{
    height: 100%;
    position: relative;
    background-attachment:scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
    
}
.parallax-1{
    background-image: url(assets/bg1.jpg);

}

.parallax-2{
    background-image: url(assets/bg2.jpg);
    
}
.parallax-3{
    background-image: url(assets/bg3.jpg);
    
}
.signupform{
    margin-top: 50px;
    width: 450px;
    height: max-content;
    background: rgba(83, 82, 82, 0.7);
    padding: 4rem;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    color: white;
    border-radius: 10px;
}
.signupform h2{
    font-size: 35px;
    padding-bottom: 1rem;
}
.signupform p{
    font-size: 20px;

}

.signupform a{
    text-decoration: none;
}
.signupform a:hover{
    color: rgb(229, 232, 235);
}

.signup-item{
    padding: 10px;
}
.signup-btn{
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 10px;
    color: white;
    background-color: rgb(32, 129, 226);
    border: 1px solid rgb(32, 129, 226);
}

.loginform{
    margin-top: 50px;
    width: 500px;
    background: rgba(83, 82, 82, 0.7);
    padding: 5rem;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    color: white;
    border-radius: 10px;
}

.loginform h2{
    font-size: 35px;
    padding-bottom: 1rem;
}
.loginform p{
    font-size: 20px;

}

.loginform a{
    text-decoration: none;
}
.loginform a:hover{
    color: rgb(229, 232, 235);
}

.login-item{
    padding: 10px;
}
.login-btn{
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 10px;
    color: white;
    background-color: rgb(32, 129, 226);
    border: 1px solid rgb(32, 129, 226);
}

.space{
    padding: 3rem;
}



/*index.php styling*/
body, html {
    height: 100%;
  }
  
  .img1 {
    /* The image used */
    background-image: url('https://thumbs.dreamstime.com/z/nft-non-fungible-token-crypto-art-concept-215531358.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .img2 {
    /* The image used */
    background-image: url('https://thumbs.dreamstime.com/z/nft-non-fungible-token-symbol-screen-smartphone-background-beeple-digital-art-everydays-first-days-kazan-russia-april-215041851.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .img3 {
    /* The image used */
    background-image: url('https://thumbs.dreamstime.com/z/concept-human-interaction-technologies-virtual-world-to-achieve-material-moral-well-being-nft-art-bidding-241221663.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  /*about styling start(Bernard)*/
  .aboutbox{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}
  /*about styling end*/

/*card for NFT*/

.card-c{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

  .card{
    background: white;
    width: 300px;
    height: 400px;
    margin: 30px;
    padding: 0px;
    border-radius: 15px;
    border: 0px;
}

.card-image{
    background-color: aqua;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card h2{
    padding: 10px;
}

.card a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    text-align: center;
    margin: 20px 50px;
    border-radius: 15px;
    text-decoration: none;
}

.card:hover{
    background-color: grey;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s ease;
    text-decoration: none;
}

/*card styling end*/
/*detailnft*/
.detailnft{
    background: white;
    width: 100%;
    height: 100%;
    margin: 30px;
    padding: 0px;
    border-radius: 15px;
    border: 0px;
}
.detailnft-image{
    /* (A) FIXED DIMENSIONS */
    width: 100%; height: 600px;
    overflow: auto;
 
    /* (B) BACKGROUND IMAGE */
    
    background-position: center;
    background-size: cover; /* contain | cover | auto */
    background-repeat: no-repeat;
    background-attachment: scroll; /* fixed | scroll | local */



    max-width: 100%;
    
    max-height: 100%;
    margin-bottom: 15px;
    
    border-radius: 15px 15px 0 0;
}

.detailnft a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    text-align: center;
    margin: 20px 50px;
    border-radius: 15px;
}
